.container {
    
    display: grid;
    grid-template-areas: "a a a a";
    background-color: #E8E9EB;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-gap: 0px;
    justify-content: center;
    align-content: center;
    margin: 0px;
    margin-bottom: 0%;
    padding: 100px;
    
    

}


.canvas-div {
    width: 100px;
    height: 100px;
    background-color: white;
    flex-basis: 100%;
    
}



