
/*.container {
    
    display: grid;
    grid-template-areas: "a a a a";
    background-color: #2a4a89;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-gap: 0px;
    justify-content: center;
    align-content: center;
    
    margin-left: 50%;
    margin-right: 50%;
    
    height: auto;
    width: auto;
    
    

}
*/
* {
    margin: 0px;
}

.canvas-div {
    
   flex: 1 0 auto;
   
    aspect-ratio: 1 / 1;
    background-color: white;
    gap: 0px;
    
    
    
    
    
    
    
}


body {
    display: flex;
    flex-direction: column;
    background-color: #E8E9EB;
    margin: 10px;
}

.size-button {
    background-color: #E8E9EB;
    justify-content: center;
    padding: 20px;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 16px;
    border-color: cornflowerblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-weight: bold;
    
}
.size-button:hover {
    background-color: blueviolet;
    color: white;
}


.container {
    box-shadow: 10px 5px 5px rgb(189, 188, 188);
    display: flex;
   width: 500px;
    height: 500px;
    flex-wrap: wrap;
    margin-left: 50%;
    margin-right: 50%;
    justify-content: center;
    
    align-items: center;
    justify-items: center;
  
    

    
}

div {
    margin: 0px;
}