.container {
    display: flex;
    display: grid;
    grid-template-areas: "a a a a";
    background-color: red;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-gap: 0px;
    justify-content: center;
    align-content: center;
    

}


.canvas-div {
    width: 100px;
    height: 100px;
    background-color: blue;
    flex-basis: 100%;
    
}

.canvas-div:hover {
    background-color: black;
}

